<div class="chat-container">
    <header class="chat-header">
      <h1><i class="fas fa-smile"></i> ChatCord</h1>
      <a href="index.html" class="btn">Leave Room</a>
    </header>
    <main class="chat-main">
      <div class="chat-sidebar">
        <h3><i class="fas fa-comments"></i> Room Name:</h3>
        <h2 id="room-name">{{roomName}}</h2>
        <h3><i class="fas fa-users"></i> Users</h3>
        <ul id="users">
          <li *ngFor="let d of userList">{{d.username}}</li>
        </ul>
      </div>
      <div class="chat-messages">
					<div class="message" *ngFor="let d of chatMsg">
						<p class="meta">{{d.username}} <span>{{d.time}}</span></p>
						<p class="text">
						 {{d.text}}
						</p>
          </div>
          

					<!-- <div class="message">
						<p class="meta">Mary <span>9:15pm</span></p>
						<p class="text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,
							repudiandae.
						</p>
					</div> -->
      </div>
    </main>
    <div class="chat-form-container">
      <form id="chat-form">
        <input
          id="msg"
          type="text"
          placeholder="Enter Message"
          required
          autocomplete="off"
          [(ngModel)]="message"
          [ngModelOptions]="{standalone: true}"
        />
        <button class="btn" (click)="sendMessage()"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
    </div>
  </div>
